/* LANDING PAGE */

/*
body {
  overflow: hidden;
}
*/

.App {
  text-align: center;
}

h1 {
  color: #ef407c;
  font-family: "Permanent Marker", cursive;
  font-size: 64px;
}

#landing-image {
  background: url(../assets/img/concert-photo-overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 100px;
  overflow: hidden;
}



h2 {
  font-family: "Metrophobic", sans-serif;
  color: white;
  padding-top: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
}

h3 {
  color: #ef407c;
  font-family: "Metrophobic", sans-serif;
  margin-top: 0;
  font-size: 1.2rem;
}
